header {
    height: 60px;
    width: auto;
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    background-size: 12%;
}

.logo {
    background-image: url(../img/logo.svg);
    height: 35px;
}

.topphoto {
    color: #808080;
    font-size: 11px;
   
} 

.author-link {
    color: #20A9E5;
}

.mins {
    color: #808080;
    font-size: 7px;
   
}

.timimg {
    align-content:normal;
    display: flex;
    height: auto;
    width: auto;
}

.didasc {
    font-size: 14px;
}

mark {
    background-color: yellow;
}

.cell-bigger {
    width: 60%;
}

table {
    width: 100%;
}

thead {
    background-color: #20A9E5;
    color: white;
}

.colortab {
    background-color:  #B1E5F2;
}

.box-img {
    width: 312px;
    height: 208px;
    color: white;
    font-size: 22px;
    background-image: url(../img/monitor.jpg);
}

.box-imgg {
    width: 312px;
    height: 208px;
    color: white;
    font-size: 22px;
    background-image: url(../img/graph.jpg);
}